<app-nav></app-nav>
<h1 class="text-center" style="margin-bottom:90px">Modification simultanée de produits</h1>

<div class="row justify-content-md-center container-fluid">
  <div class="row">
    <!-- Boucle for -->
    <div *ngFor="let category of categories" class="col-sm-6">
      <button id="List{{category.name}}" (click)="onclick(category.name)" type="button" class="btn btn-secondary margin-bottom-space justify-content-md-center container-fluid">
        <h5 class="card-title" style="text-align:center">{{category.name}}</h5>
      </button>
      <div *ngIf="visibility[category.name]" class="card">
        <div class="card-body justify-content-md-center">
          <table class="table container-fluid justify-content-md-center">
            <thead>
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Promotion</th>
                <th scope="col">Quantité</th>
                <th scope="col">Vendus</th>
                <th scope="col">Commentaires</th>
                <th scope="col">Ajout <br> Stock</th>
                <th scope="col">Prix <br> transac</th>
                <th scope="col">Ajout <br> promo</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of category.products">
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.discount}}</td>
                <td>{{product.quantityInStock}}</td>
                <td>{{product.nombre_produit_vendu}}</td>
                <td>{{product.comments}}</td>
                <td>
                  <input type="number" class="small-input" id="newQuantity" placeholder="..."
                    [(ngModel)]='newQuantity[product.tig_id]'>
                </td>
                <td>
                  <input type="number" class="small-input" id="prixTransaction" placeholder="€"
                    [(ngModel)]='prixTransaction[product.tig_id]'>
                </td>
                <td>
                  <input type="number" class="small-input" id="newPromotion" placeholder="%"
                    [(ngModel)]='newPromotion[product.tig_id]'>
                </td>
                <td>
                  <div class="btn-group">
                    <button class="btn btn-success btn-sm" (click)="addQuantity(product.tig_id)">
                      Ajouter
                    </button>
                    <button class="btn btn-danger btn-sm" (click)="removeQuantity(product.tig_id)">
                      Enlever
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- fin boucle for -->
  </div>
  
  <!-- Bouton global pour les promotions -->
  <div class="row justify-content-md-center" style="margin: 30px 0">
    <button class="btn btn-primary" style="width: auto" (click)="onModifyPromotion()">
      Appliquer toutes les promotions
    </button>
  </div>
</div>